<div class="wrapper">
    <div class="weather-card">
        <p>{{weatherToday?.dt_txt | date:'fullDate'}}</p>
        <p>
            <span class="bold-text">Place:</span> {{weatherData?.city?.name}}</p>
        <p>
            <span class="bold-text">Last captured:</span>
            <span>{{weatherToday?.dt_txt|date:'shortTime'}}</span>
        </p>
        <p>
            <span class="bold-text">Current Temperature:</span> {{weatherToday?.main?.temp|temp}}</p>
        <p>
            <span class="bold-text">Max Temperature:</span> {{weatherToday?.main?.temp_max|temp}}</p>
        <p>
            <span class="bold-text">Min Temperature:</span> {{weatherToday?.main?.temp_min|temp}}</p>
        <p>
            <span class="bold-text">Wind speed:</span>
            <span>{{weatherToday?.weather[0]?.description}}, {{weatherToday?.wind?.speed}}kn</span>
        </p>
        <div>
            <button class="button-login" (click)="goToDetails()">Details</button>
        </div>
    </div>
</div>