.head-wrapper{
	padding: 10px;
    color: #fff;
    .heading{
    	font-size: 17px;
		font-weight: bold;
		cursor: pointer;
    }
    .button-login{
    	background-color: #e04c3b;
    	color: #fff;
    	font-size: 16px;
    	font-weight: bold;
    	border: 0;
    	padding: 5px 10px;
        cursor:pointer;
    }
}