.login-form-wrapper{
    width: 40%;
    margin: 7pc auto;
    form{
        border: 1px solid #cccccc;
        padding: 30px;
        .submit-button{
            background: #e04c3b;
            color: #fff;
        }
    }
}
